/* General */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #15304c;
    height: 70px;
    position: relative;
    z-index: 3;
}

.logo {
    flex-grow: 1;
}

.logo img {
    width: 200px;
    margin-left: 20px;
}

nav {
    margin-right: 30px;
}

nav li {
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
}

nav li a.active {
    color: #fdd835;
    font-weight: bold;
}

nav li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    transition: color 0.2s ease-in-out;
}

nav li a:hover {
    color: #d8be4cdc;
}

.menu-icon {
    display: none;
    margin-right: 30px;
}

/* Sub-header */
.sub-header {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 46px;
    background-color: rgba(21, 48, 76, 0.5);
    backdrop-filter: blur(5px);
    z-index: 2;
    gap: 10px;
}

.login-btn,
.sign-up-btn {
    text-decoration: none;
    background-color: #d1b430e3;
    color: #15304c;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.login-btn:hover,
.sign-up-btn:hover {
    background-color: #d8be4c;
}

/* Vyhledávací pole */
.search-bar {
    width: 120px; /* Výchozí šířka */
    height: 30px;
    padding: 4px 10px;
    border: 1px solid rgba(255, 255, 255, 0.178);
    border-radius: 20px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.062);
    color: white;
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.search-bar:hover,
.search-bar:focus {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.11);
}

/* Styl placeholderu */
.search-bar::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.search-icon {
    display: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

/* Welcome section */
.welcome {
    background: url("img/background.webp");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 60px;
}

.content-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    gap: 20px;
}

.content {
    background-color: rgba(21, 48, 76, 0.8);
    color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.content div {
    padding: 10px;
}

.content h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.content h3 {
    margin-bottom: 15px;
}

.content p {
    font-size: 15px;
    line-height: 1.6;
}

.content ul {
    padding-left: 20px;
}

.content li {
    margin-bottom: 5px;
}

.img-wrapper img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.img-wrapper {
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}